====================================================================================================
## Ketentuan

Milestones 3 

Nama : Adhit Hikmatullah

Batch: CODA-RMT-010

Program ini dibuat untuk melakukan eksplorasi data dan validasi data menggunakan Great Expectations.

- Google Slide: [Link]()
- Kaggle Dataset: [Link](https://www.kaggle.com/datasets/uom190346a/global-coffee-health-dataset/data)

====================================================================================================

In [1]:
## Install Great Expectation Package
!pip install -q "great-expectations==0.18.19"

In [2]:
!pip install pandas

import numpy.typing as npt

## Menggunakan  library pandas
import pandas as pd

## Menggunakan library Great Expectations untuk validasi data
from great_expectations.data_context import FileDataContext

Requirement already satisfied: pandas in /opt/conda/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.13/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Import File csv

In [3]:
df = pd.read_csv('P2M3_Adhit_Hikmatullah_Data_Raw.csv')
df

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,NaN,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,NaN,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,NaN,Student,1,0

## Data Eksplorasi (EDA)

- **Menampilkan 5 data awal dan akhir**

In [4]:
df.head()

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1

In [5]:
df.tail()

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,NaN,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,NaN,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,NaN,Student,1,0

- **Menampilkan info dataframe**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   Age                      10000 non-null  int64
 2   Gender                   10000 non-null  object
 3   Country                  10000 non-null  object
 4   Coffee_Intake            10000 non-null  float64
 5   Caffeine_mg              10000 non-null  float64
 6   Sleep_Hours              10000 non-null  float64
 7   Sleep_Quality            10000 non-null  object
 8   BMI                      10000 non-null  float64
 9   Heart_Rate               10000 non-null  int64
 10  Stress_Level             10000 non-null  object
 11  Physical_Activity_Hours  10000 non-null  float64
 12  Health_Issues            4059 non-null   object
 13  Occupation               10000 non-null  object
 14  Smoking                  10000 non-null  int64
 15  Alcohol_Consumption      10000 non-null  int64
dtypes: float64(5), int64(5), object(6)
memory usage: 1.2+ MB

- **Menampilkan tipe data tiap kolom**

In [7]:
df.dtypes

ID                           int64
Age                          int64
Gender                      object
Country                     object
Coffee_Intake              float64
Caffeine_mg                float64
Sleep_Hours                float64
Sleep_Quality               object
BMI                        float64
Heart_Rate                   int64
Stress_Level                object
Physical_Activity_Hours    float64
Health_Issues               object
Occupation                  object
Smoking                      int64
Alcohol_Consumption          int64
dtype: object

- **Menampilkan jumlah kolom dan baris**

In [8]:
df.shape

(10000, 16)

- **Menampilkan jumlah data yang kosong pada tiap kolom (Missing Value Data)**

In [9]:
df.isnull().sum()

ID                            0
Age                           0
Gender                        0
Country                       0
Coffee_Intake                 0
Caffeine_mg                   0
Sleep_Hours                   0
Sleep_Quality                 0
BMI                           0
Heart_Rate                    0
Stress_Level                  0
Physical_Activity_Hours       0
Health_Issues              5941
Occupation                    0
Smoking                       0
Alcohol_Consumption           0
dtype: int64

- **Mengisi baris yang kosong pada kolom `Health_Issues`**

In [10]:
df['Health_Issues'].fillna('None', inplace = True)
df

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,None,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,None,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,None,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,None,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,None,Student,1,0

- **Melakukan pengecekan ulang pada kolom yang sudah diisi `.fillna`**

In [11]:
df.isnull().sum()

ID                         0
Age                        0
Gender                     0
Country                    0
Coffee_Intake              0
Caffeine_mg                0
Sleep_Hours                0
Sleep_Quality              0
BMI                        0
Heart_Rate                 0
Stress_Level               0
Physical_Activity_Hours    0
Health_Issues              0
Occupation                 0
Smoking                    0
Alcohol_Consumption        0
dtype: int64

- **Menampilkan jumlah data unik tiap kolom**

In [12]:
df.nunique()

ID                         10000
Age                           59
Gender                         3
Country                       20
Coffee_Intake                 78
Caffeine_mg                 4277
Sleep_Hours                   71
Sleep_Quality                  4
BMI                          220
Heart_Rate                    58
Stress_Level                   3
Physical_Activity_Hours      151
Health_Issues                  4
Occupation                     5
Smoking                        2
Alcohol_Consumption            2
dtype: int64

- **Menampilkan list kolom**

In [13]:
df.columns

Index(['ID', 'Age', 'Gender', 'Country', 'Coffee_Intake', 'Caffeine_mg',
       'Sleep_Hours', 'Sleep_Quality', 'BMI', 'Heart_Rate', 'Stress_Level',
       'Physical_Activity_Hours', 'Health_Issues', 'Occupation', 'Smoking',
       'Alcohol_Consumption'],
      dtype='object')

- **Melakukan pengecekan apakah adanya duplicate data**

In [14]:
df.duplicated().sum()

0

## Transform

- **Mengubah kolom data `Smoking` dan `Alcohol_Consumption` menjadi kategorikal**

In [15]:
## Mengubah tipe data `Smoking` dan `Alcohol_Consumption` dari boolean menjadi string

df = df.astype({'Smoking': str, 'Alcohol_Consumption': str})

In [16]:
## Mengubah value data di kolom `Smoking` dan `Alcohol_Consumption` dari 0 & 1 menjadi No & Yes

df.replace({'Smoking': {'0': 'No', '1': 'Yes'}, 'Alcohol_Consumption': {'0': 'No', '1': 'Yes'}}, inplace=True)

In [17]:
## Melakukan pengecekan pada tipe data yang sudah diubah

df.dtypes

ID                           int64
Age                          int64
Gender                      object
Country                     object
Coffee_Intake              float64
Caffeine_mg                float64
Sleep_Hours                float64
Sleep_Quality               object
BMI                        float64
Heart_Rate                   int64
Stress_Level                object
Physical_Activity_Hours    float64
Health_Issues               object
Occupation                  object
Smoking                     object
Alcohol_Consumption         object
dtype: object

In [18]:
## Melakukan pengecekan value data yang sudah diubah

df

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,None,Other,No,No
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,None,Service,No,No
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,No,No
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,No,No
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,No,Yes
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,No,No
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,None,Student,Yes,Yes
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,None,Student,No,No
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,None,Student,Yes,No

- **Melakukan pengecekan data min, max, mean, count pada dataframe setelah dilakukan transform**

In [19]:
df.describe()

,ID,Age,Coffee_Intake,Caffeine_mg,Sleep_Hours,BMI,Heart_Rate,Physical_Activity_Hours
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,5000.50000,34.949100,2.509230,238.411010,6.636220,23.986860,70.617800,7.48704
std,2886.89568,11.160939,1.450248,137.748815,1.222055,3.906411,9.822951,4.31518
min,1.00000,18.000000,0.000000,0.000000,3.000000,15.000000,50.000000,0.00000
25%,2500.75000,26.000000,1.500000,138.750000,5.800000,21.300000,64.000000,3.70000
50%,5000.50000,34.000000,2.500000,235.400000,6.600000,24.000000,71.000000,7.50000
75%,7500.25000,43.000000,3.500000,332.025000,7.500000,26.600000,77.000000,11.20000
max,10000.00000,80.000000,8.200000,780.300000,10.000000,38.200000,109.000000,15.00000

## Data Validation

In [20]:
## Membuat folder data context
context = FileDataContext.create(project_root_dir='./')

In [22]:
# Membuat dan memberi nama Datasource
datasource = context.sources.add_or_update_pandas('coffee_health_dataset')

# Membuat dan memberi nama Data Asset
asset = datasource.add_dataframe_asset(name='df')

# Membuat Batch Request
batch_request = asset.build_batch_request(dataframe=df)

# Membuat Expectation Suite
expectation_suite_name = 'expectation_global_coffee_health_dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Mbembuat validasi dengan basis expectation suite yang telah dibuat
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Melakukan cek validasi
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,None,Other,No,No
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,None,Service,No,No
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,No,No
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,No,No
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,No,Yes

### 1. to be unique

In [23]:
## Melakukan validasi kolom ID harus berbeda tiap baris-nya
validator.expect_column_values_to_be_unique('ID')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 10000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### 2. to be between min_value and max_value

In [24]:
## Melakukan validasi kolom Age harus minimal 18 tahun dan maksimal 80 tahun, diluar angka tersebut tidak dihitung
validator.expect_column_values_to_be_between(column='Age', min_value=18, max_value=80)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 10000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### 3. to be in type list

In [25]:
## Melakukan validasi kolom Coffee_Intake harus berupa tipe data angka / float
validator.expect_column_values_to_be_in_type_list(column= 'Coffee_Intake', type_list=['int', 'float'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### 4. to be in set

In [26]:
## Melakukan validasi pada kolom stress level bahwa nilai kolom hanya berupa low, medium, atau high
validator.expect_column_values_to_be_in_set(column='Stress_Level', value_set=['Low', 'Medium', 'High'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 10000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### 5. to not be null

In [27]:
## Melakukan validasi pada kolom ID bahwa tidak ada nilai yang kosong
validator.expect_column_values_to_not_be_null('ID')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 10000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### 6. mean to be between

In [28]:
## Melakukan validasi nilai mean pada kolom sleep hours berada dalam jangkauan min dan max value
validator.expect_column_mean_to_be_between(column="Sleep_Hours", min_value=3.0, max_value=10.0)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 6.63622
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### 7. to exist

In [29]:
## Melakukan validasi pada kolom BMI bahwa kolom tersebut harus ada karena dipakai sebagai acuan dari health issues
validator.expect_column_to_exist('BMI')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Save Expectation Suite

In [30]:
## Save ke Expectation Suite
validator.save_expectation_suite(discard_failed_expectations=False)

### Checkpoint

In [31]:
checkpoint_1 = context.add_or_update_checkpoint(
    name = 'checkpoint_1',
    validator = validator,
)

In [32]:
## Melakukan checkpoint
checkpoint_result = checkpoint_1.run()

Calculating Metrics:   0%|          | 0/28 [00:00<?, ?it/s]

### Data Docs

In [33]:
## Membuat data docs
context.build_data_docs()

{'local_site': 'file:///home/jovyan/gx/uncommitted/data_docs/local_site/index.html'}